@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'base/mixins';
@import 'base/variables';
@import 'base/animations';

@import 'base/buttons';
@import 'base/title';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');



@import 'base/header';
@import 'base/breadcrumb';
@import 'base/application';
@import 'base/footer';

@import 'base/promo';

@import 'base/video';
@import 'base/plans';
@import 'base/stages';
@import 'base/cases';
@import 'base/order';
@import 'base/about-us';
@import 'base/leads';
@import 'base/success';

@import 'base/promo-home';
@import 'base/our-cases';
@import 'base/services';
@import 'base/portfolio';
@import 'base/item';
@import 'base/item-content';
@import 'base/thanks-or-error';
@import 'base/footer-custome';
@import 'base/politica';


/*

Neue Machina: 400, 500, 700
Montserrat: 300, 400, 700

*/


*, *:before, *:after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

ul, ol {
  margin-bottom: 0;
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin-bottom: 0;
  padding-bottom: 0;
}

input, button, textarea {
  outline: none;
}

section, header, footer {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @include for-desk {
    max-width: 1200px;
  }


  @include for-tablet-landscape {
    max-width: 100%;
    padding: 0 45px;
  }
  @include for-tablet-portrait {
    max-width: 100%;
    padding: 0 36px;
  }
  @include for-phone {
    max-width: 100%;
    padding: 0 16px;
  }
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

body {
  background: #FAF8F8;
}

