.breadcrumb {

    &_context {
        .breadcrumb__list {
            margin-top: 0;
        }
    }

    &__list {
        margin-top: 25px;
        margin-bottom: 20px;
        list-style-type: none;
        display: flex;
        gap: 22px;
        @include for-tablet-landscape {
            margin-top: 0;
        }
        @include for-phone-portrait {
            gap: 12px;
        }
    }

    &__item {
        /* position: relative;
        &::before {
            content: url('../../assets/svg/breadcrumb-arrow.svg');
            position: absolute;
            top: 50%;
            left: -17%;
            transform: translate3d(-50%, -50%, 0);
            @include for-tablet-portrait {
                content: url('../../assets/svg/breadcrumb-arrow-small.svg');
                left: -17%;
            }
        }
        &:first-child {
            &::before {
                display: none;
            }
        } */
    }

    &__link {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        background: linear-gradient(90.09deg, #65F0F4 -83.65%, #3957ED 78.13%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @include for-phone-portrait {
            font-size: 12px;
            line-height: 16px;
        }
    }
}
