.btn {
    border: none;
    background-color: transparent;
    &_dashed {
        border-radius: 36px;
        position: relative;
        @include for-phone-portrait {
            box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
        }
        &-border {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            path {
                transition: $animate-fast;
                fill: #000000;
            }
            @include for-phone-portrait {
                display: none;
            }
        }
        &:hover {
            span {
                background: linear-gradient(90deg, #65F0F4 0%, #3957ED 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent; 
            }
            .btn_dashed-border {
                path {
                    fill: url(#paint0_linear_646_2);
                }
            }
        }
    }
    &_blue {
        transition: $animate-fast;
        &:hover {
            color: #000000;
        }
    }

    &_mobile-menu {
        width: 182px;
        height: 44px;        
        background: #FFFFFF;
        border-radius: 30px; 

        font-family: 'Neue Machina';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #000000;
    }
}
