.btn {
    border: none;
    background-color: transparent;
    &_dashed {
        border: 3px dashed #000000;
        border-radius: 36px;
        @include for-phone-portrait {
            border: none;
            box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
        }
    }
    &_blue {
        transition: $animate-fast;
        &:hover {
            color: #000000;
        }
    }
}