.cases {

    .container {
        max-width: 1550px;
        @include for-tablet-landscape {
            padding: 0;
        }
    }

    &_context {
        .cases__outer {
            margin-top: 20px;
        }
        .cases__image {
            img {
                max-height: 645px;
            }
        }
    }

    &_seo {
        @include for-desk {
            display: none;
        }
        .cases__info-subtitle {
            max-width: 329px;
            width: 100%;
        }
        .cases__image {
            padding: 28px 47px 28px 30px;
            background: #FFFFFF;
            box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
            border-radius: 30px;
        }
    }

    &__wrapper {
        margin-top: 71px;
        margin-bottom: 80px;
        @include for-desk {
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }

    &__title {
        padding-left: 40px;
        @include for-desk {
            margin: 0 auto;
            padding-left: 0;
            max-width: 1150px;
        }
        @include for-tablet-landscape {
            max-width: 100%;
            padding: 0 45px;
        }
        @include for-tablet-portrait {
            max-width: 100%;
            padding: 0 36px;
        }
        @include for-phone {
            max-width: 100%;
            padding: 0 36px;
        }
    }

    &__outer {
        padding-left: 35px;
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2 , 730px);
        gap: 20px;
        @include for-desk {
            grid-template-columns: repeat(2, 1fr);
            padding-right: 27px;
            padding-left: 27px;
        }
        /* @include for-tablet-portrait {
            grid-template-columns: 1fr;
            padding-left: 0;
            padding-right: 0;
        } */
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 27px;
        position: relative;
        /* left: -40px; */
        /* @include for-tablet-portrait {
            grid-row: 2/3;
        } */
    }


    &__info-main, &__info-total {
        padding: 28px 31px 40px 31px;
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 30px;
    }

    &__info-main {
        
    }

    &__info-subtitle {
        font-size: 26px;
        line-height: 29px;
    }

    &__info-text {
        margin-top: 24px;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }

    &__info-total {
        
    }

    &__info-list {
        margin-top: 30px;
        display: flex;
        gap: 60px;
        list-style-type: none;
        @include for-desk {
            gap: 40px;
        }
        @include for-tablet-landscape {
            gap: 15px;
        }
    }

    &__info-listitem {
    }

    &__info-listtitle {
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        background: linear-gradient(89.97deg, #65F0F4 -17.79%, #3957ED 147.99%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @include for-desk {
            font-size: 30px;
            line-height: 38px;
        }
        @include for-tablet-landscape {
            font-size: 22px;
            line-height: 24px;
        }
    }

    &__info-listtext {
        max-width: 160px;
        width: 100%;
        margin-top: 4px;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        @include for-tablet-landscape {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__controls {
        margin-top: 33px;
        @include for-tablet-landscape {
            margin-top: 5px;
        }
    }

    &__controls-wrapper {
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    &__controls-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
        border-radius: 100%;
        cursor: pointer;
        &_left {
        }

        &_right {
        }
    }

    &__controls-icon {
    }

    &__image {
        position: relative;
        min-height: 688px;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    &__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 1480px;
        width: 100%;
        margin: 60px auto 0 auto;
        position: relative;
        @include for-desk {
            max-width: 1150px;
            margin: 30px auto 0 auto;
        }
        @include for-tablet-landscape {
            max-width: 100%;
            padding: 0 45px;
        }
        @include for-tablet-portrait {
            max-width: 100%;
            padding: 0 36px;
        }
        @include for-phone {
            max-width: 100%;
            padding: 0 36px;
        }
    }

    &__top-about {
        padding: 17px 31px 28px 31px;
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 30px;
    }

    &__outer-items {
        @include for-desk {
            max-width: 1210px;
            margin: 0 auto;
        }
        @include for-tablet-landscape {
            max-width: 100%;
            padding: 0 17px;
        }
        @include for-tablet-portrait {
            max-width: 100%;
            padding: 0 36px;
        }
        @include for-phone {
            max-width: 100%;
            padding: 0 36px;
        }
    }

    &__top-header {
        display: flex;
        align-items: center;
    }

    &__top-icon {
        max-width: 66px;
        width: 100%;
        margin-right: 64px;
        @include for-tablet-landscape {
            margin-right: 20px;
        }
    }

    &__top-title {
        max-width: 373px;
        width: 100%;
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 29px;
        color: #000000;
        @include for-tablet-landscape {
            font-size: 21px;
            line-height: 25px;
        }
    }

    &__top-text {
        margin-top: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        @include for-tablet-landscape {
            margin-top: 15px;
            font-size: 14px;
            line-height: 19px;
        }
    }

    &__top-instruments {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    &__top-instrument {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 30px;
    }

    &__top-image {
        width: 45%;
    }

    &__info-caption {
        margin-top: 24px;
        p {
            margin-top: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__info-example {
        margin-top: 40px;
        padding: 20px 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        span {
            font-family: $neuemachina;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 15px;
            background: linear-gradient(90deg, #65F0F4 -17.82%, #3957ED 98.46%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    &__info-item {
        display: flex!important;
        flex-direction: column;
        gap: 20px;
        /* padding: 17px 31px 28px 31px;
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 30px; */
    }

    &__info-issue {
        padding: 17px 31px 28px 31px;
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 30px;
    }

    &__info-header {
        display: flex;
        align-items: center;
        gap: 64px;
    }

    &__info-svg {
        max-width: 66px;
        width: 100%;
    }


    &__info-description {
        margin-top: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }

    &__image-subtitle {
        max-width: 473px;
        width: 100%;
        margin-bottom: 24px;
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 29px;
        color: #000000;
    }

    &__image-text {
        p {
            margin-bottom: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__image-comparison {
    }

    &__image-controls {
        margin-top: 40px;
        display: flex;
        gap: 15px;
    }

    &__image-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
    }

    &__image-arrow-left {
        
    }

    &__image-icon {
        max-width: 21px;
        width: 100%;
    }

    &__image-arrow-right {
    }


    &__slider {
        max-width: 740px;
        padding-left: 10px;
        position: relative;
        .slick-slide img {
            /* max-width: 730px; */
            width: 100%;
        }
        @include for-desk {
            padding-left: 0;
        }
    }

    &__slider-content {
        position: absolute;
        width: 100%;
    }

    &__slider-title {
       display: none;
       @include for-phone-portrait {
           display: block;
       } 
    }

    &__slider-items {
        
    }

    &__slider-item {
        width: fit-content!important;
        img {
            width: 100%;
        }
    }

    &__info-slider {
        max-width: 740px;
        /* .slick-initialized .slick-slide {
            margin: 0 40px 40px 40px;
        } */
        /* .slick-list {
            margin: 0 -10px -40px 0;
        } */
    }

    &__info-items {
    }

    &__info-item {
    }


    

    
}



