.footer {
    background: #000000;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 45px 0 60px 0;
        @include for-tablet-portrait {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__main {
        display: flex;
        align-items: center;
        gap: 65px;
        @include for-tablet-landscape {
            gap: 30px;
        }
    }

    &__logo {
    }

    &__logo-icon {
    }

    &__menu {
    }

    &__menu-list {
        list-style-type: none;
        display: flex;
        gap: 50px;
        @include for-tablet-landscape {
            gap: 30px;
        }
    }

    &__menu-item {
    }

    &__menu-link {
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        @include for-tablet-landscape {
            font-size: 22px;
            line-height: 26px;
        }
    }

    &__contacts {
    }

    &__contacts-items {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include for-tablet-portrait {
            align-items: flex-start;
        }
    }

    &__contacts-mail {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
        @include for-tablet-landscape {
            font-size: 18px;
            line-height: 20px;
        }
    }

    &__contacts-tel {
        margin-top: 10px;
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
        @include for-tablet-landscape {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__contacts-social {
        margin-top: 12px;
        list-style-type: none;
        display: flex;
        gap: 20px;
    }

    &__contacts-social-item {
    }

    &__contacts-social-link {
    }

    &__contacts-social-icon {
    }
}
