.leads {


    &_context {
        .leads__wrapper {
            margin-top: 73px;
            margin-bottom: 151px;
            @include for-desk {
                margin-top: 60px;
                margin-bottom: 60px;
            }
            @include for-phone-portrait {
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }
    }

    &__wrapper {
        margin-bottom: 80px;
        @include for-tablet-landscape {
            margin-bottom: 30px;
        }
        @include for-phone-portrait {
            margin-bottom: 40px;
        }
    }

    &__title {
    }

    &__outer {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        @include for-desk {
            margin-top: 30px;
        }
        @include for-tablet-landscape {
            grid-template-columns: 1fr;
        }
        @include for-phone-portrait {
            margin-top: 40px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__info-item {
        padding: 22px 30px;
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 30px;
        @include for-phone-portrait {
            padding: 28px 19px;
        }
    }

    &__info-head {
        display: flex;
        gap: 64px;
        align-items: center;
        @include for-tablet-landscape {
            gap: 30px;
        }
        @include for-phone-portrait {
            gap: 15px;
        }
    }

    &__info-title {
        max-width: 329px;
        width: 100%;
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 29px;
        color: #000000;
        @include for-tablet-landscape {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__info-text {
        margin-top: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        @include for-phone-portrait {
            display: none;
        }
    }

    &__info-icon {
        max-width: 66px;
        width: 100%;
        aspect-ratio: 1/1;
        @include for-phone-portrait {
            max-width: 45px;
        }
    }

    &__order {
        padding: 38px 36px 45px 36px;
        background: #FFFFFF;
        box-shadow: 15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 30px;
        @include for-phone-portrait {
            padding: 28px 25px;
        }
    }

    &__order-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__order-image {
        max-width: 658px;
        width: 100%;
    }

    &__order-btn {
        margin-top: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 22px 83px;
        background: linear-gradient(90deg, #65F0F4 -17.82%, #3957ED 98.46%), #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
        color: #FFFFFF;
        @include for-phone-portrait {
            padding: 19px 48px;
            margin-top: 25px;
            font-size: 14px;
            line-height: 14px;
        }
    }
}
