.order {
    padding: 60px 0;
    
    &_seo {
        padding: 0 0 60px 0;
    }
    

    .container {
        @include for-phone-portrait {
            padding: 0 19px;
        }
    }


    &__wrapper {
        
    }

    &__outer {
        padding: 50px 100px;
        max-width: 1124px;
        width: 100%;
        margin: 0 auto;
        background: linear-gradient(89.97deg, #65F0F4 -17.79%, #3957ED 147.99%);
        border-radius: 30px;
        @include for-desk {
            max-width: 100%;
        }
        @include for-tablet-landscape {
            padding: 40px 70px;
        }
        @include for-tablet-portrait {
            padding: 30px 30px;
        }
        @include for-phone-portrait {
            padding: 28px 19px 40px 19px;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include for-phone-portrait {
            gap: 30px;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title {
        max-width: 492px;
        width: 100%;
        font-size: 32px;
        line-height: 36px;
        color: #FFFFFF;
        @include for-tablet-portrait {
            max-width: 420px;
            font-size: 26px;
            line-height: 32px;
        }
        @include for-phone-portrait {
            max-width: 300px;
            font-size: 18px;
            line-height: 20px;
        }
    }

    &__btn {
        padding: 12px 51px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 30px;
        &:hover {
            .order__btn-text {
                background: linear-gradient(90deg, #000000 -27.45%, #000000 118.63%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
        @include for-tablet-portrait {
            padding: 12px 32px;
        }
        @include for-phone-portrait {
            padding: 12px 22px;
        }
    }
    &__btn-text {
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
        background: linear-gradient(90deg, #65F0F4 -27.45%, #3957ED 118.63%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @include for-tablet-landscape {
            font-size: 17px;
            line-height: 17px;
        }
        @include for-phone-portrait {
            font-size: 14px;
            line-height: 14px;
        }
    }
}
