.plans {

    &_seo {
        .plans__name {
            max-width: 294px;
            width: 100%;
        }
        .plans__title {
            max-width: 884px;
        }
        .plans__list {
            margin-top: 50px;
        }
        .plans__name {
            margin-bottom: 20px;
        }
        .plans__bottom {
            margin-top: 29px;
        }
        .plans__btn {
            padding: 19px 58px;
        }
        .plans__item {
            padding: 28px 41px 40px 31px;
        }
    }

    &_context {
        .plans__list {
            margin-top: 50px;
        }
        .plans__name {
            margin-bottom: 20px;
        }
        .plans__bottom {
            margin-top: 37px;
        }
        .plans__btn {
            padding: 19px 70px;
        }
        .plans__item {
            padding: 28px 41px 40px 31px;
        }
    }

    &__wrapper {
    }

    &__title {
    }

    &__list {
        margin-top: 60px;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 28px 41px 53px 31px;
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 30px;
        &_additional {
            padding: 0;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_black {
            background: #000000;
            .plans__name {
                color: #FFFFFF;
            }
            .plans__service {
                p {
                    color: #FFFFFF;
                }
            }
            .plans__number {
                color: #FFFFFF;
            }
            .plans__btn {
                border: none;
                background: #FFFFFF;
                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
                span {
                    background: linear-gradient(90deg, #65F0F4 -17.82%, #3957ED 98.46%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
        }
    }

    &__inner {
    }

    &__name {
        margin-bottom: 35px;
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 29px;
        color: #000000;
    }

    &__services {
        max-width: 521px;
        width: 100%;
    }

    &__service {
        margin-bottom: 5px;
        p {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
        }
    }

    &__bottom {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        padding: 18px 25px;
        span {
            font-family: $neuemachina;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 19px;
            color: #000000;
        }
    }

    &__price {
    }

    &__number {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
        &_mark {
            font-family: $neuemachina;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 48px;
            background: linear-gradient(89.97deg, #65F0F4 -17.79%, #3957ED 147.99%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    &__additional {
        max-width: 218px;
        width: 100%;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
    }

    

    &__outer-content {
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 488px;
        width: 100%;
    }

    &__outer-title {
        font-size: 26px;
        line-height: 29px;
        text-align: center;
        color: #000000;
    }

    &__outer-text {
        margin-top: 30px;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #000000;
    }

    &__outer-btn {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 22px 56px;
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
        color: #000000;
    }

    &__outer-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
    }
}

