.politica {
    padding: 210px 0;

    @include for-desk {
        padding: 190px 0 70px;
    }
    @include for-tablet-portrait {
        padding: 180px 0 70px;
    }
    @include for-phone-portrait {
        padding: 100px 0 60px;
    }
    @include for-phone {
        padding: 90px 0 50px;
    }
}
.politica h2 {
    font-family: $neuemachina;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 113.4%;
    color: #000000;
    margin-bottom: 40px;

    @include for-desk {
        font-size: 48px;
        margin-bottom: 30px;
    }
    @include for-tablet-portrait {
        font-size: 38px;
    }
    @include for-phone-portrait {
        font-size: 28px;
        margin-bottom: 25px;
    }
    @include for-phone {
        font-size: clamp(19px, 6vw, 24px);
        margin-bottom: 20px;
    }
}
.politica h2:first-child {
    max-width: 977px;
}
.politica p {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 134.4%;
    color: #000000;
    margin-bottom: 60px;

    @include for-desk {
        font-size: 20px;
        margin-bottom: 40px;
    }
    @include for-tablet-portrait {
        font-size: 19px;
    }
    @include for-phone-portrait {
        font-size: 18px;
    }
    @include for-phone {
        font-size: clamp(14px, 4.3vw, 17px);
        margin-bottom: 40px;
    }
}
.politica p:last-child {
    margin-bottom: 0;
}
.politica p a {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 134.4%;
    background: linear-gradient(90deg, #65F0F4 0%, #3957ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    @include for-desk {
        font-size: 20px;
    }
    @include for-tablet-portrait {
        font-size: 19px;
    }
    @include for-phone-portrait {
        font-size: 18px;
    }
    @include for-phone {
        font-size: clamp(14px, 4.3vw, 17px);
    }
}
.politica__wrapper {
    max-width: 1330px;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    background: radial-gradient(98.33% 70.9% at 0% 50%, #65F0F4 0%, #6584F4 100%);
    animation: load 2s linear 0.01s infinite;
    &__img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 586px;
        height: 177px;
        img{
            width: 100%;
            height: auto;
        }
        @include for-phone-portrait {
            max-width: 386px;
            height: auto;
        }
        @include for-phone {
            max-width: 222px;
            height: auto;
        }
    }
}
@keyframes load {
    0% {
        background: radial-gradient(98.33% 70.9% at 0% 50%, #65F0F4 0%, #6584F4 100%);
    }
    5% {
        background: radial-gradient(98.33% 74.9% at 15% 40%, #65F0F4 0%, #6584F4 100%);
    }
    10% {
        background: radial-gradient(98.33% 74.9% at 30% 30%, #65F0F4 0%, #6584F4 100%);
    }
    15% {
        background: radial-gradient(98.33% 74.9% at 45% 20%, #65F0F4 0%, #6584F4 100%);
    }
    20% {
        background: radial-gradient(98.33% 76.9% at 60% 10%, #65F0F4 0%, #6584F4 100%);
    }
    25% {
        background: radial-gradient(98.33% 76.9% at 75% 20%, #65F0F4 0%, #6584F4 100%);
    }
    30% {
        background: radial-gradient(98.33% 76.9% at 90% 30%, #65F0F4 0%, #6584F4 100%);
    }   
    35% {
        background: radial-gradient(98.33% 76.9% at 90% 40%, #65F0F4 0%, #6584F4 100%);
    }
    40% {
        background: radial-gradient(98.33% 76.9% at 90% 50%, #65F0F4 0%, #6584F4 100%);
    }
    45% {
        background: radial-gradient(98.33% 76.9% at 90% 60%, #65F0F4 0%, #6584F4 100%);
    }
    50% {
        background: radial-gradient(98.33% 76.9% at 90% 70%, #65F0F4 0%, #6584F4 100%);
    }
    55% {
        background: radial-gradient(98.33% 76.9% at 90% 80%, #65F0F4 0%, #6584F4 100%);
    }
    60% {
        background: radial-gradient(98.33% 76.9% at 90% 90%, #65F0F4 0%, #6584F4 100%);
    }
    65% {
        background: radial-gradient(98.33% 76.9% at 80% 90%, #65F0F4 0%, #6584F4 100%);
    }
    70% {
        background: radial-gradient(98.33% 76.9% at 70% 90%, #65F0F4 0%, #6584F4 100%);
    }
    75% {
        background: radial-gradient(98.33% 76.9% at 60% 90%, #65F0F4 0%, #6584F4 100%);
    }
    80% {
        background: radial-gradient(98.33% 76.9% at 50% 90%, #65F0F4 0%, #6584F4 100%);
    }
    85% {
        background: radial-gradient(98.33% 76.9% at 40% 90%, #65F0F4 0%, #6584F4 100%);
    }   
    90% {
        background: radial-gradient(98.33% 76.9% at 30% 80%, #65F0F4 0%, #6584F4 100%);
    }
    95% {
        background: radial-gradient(98.33% 76.9% at 20% 70%, #65F0F4 0%, #6584F4 100%);
    }
    98% {
        background: radial-gradient(98.33% 76.9% at 10% 60%, #65F0F4 0%, #6584F4 100%);
    }
    100% {
        background: radial-gradient(98.33% 76.9% at 0% 50%, #65F0F4 0%, #6584F4 100%);
    }
}



