.promo {

    &_context {
        .promo__subtitle {
            margin-top: 57px;
            max-width: 679px;
            width: 100%;
            font-family: $neuemachina;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 41px;
            color: #000000;
        }
        .promo__image {
            max-width: 529px;
            margin-right: 60px;
        }
        .promo__text {
            margin-top: 18px;
        }
    }

    &_seo {
        .promo__btn {
            margin-top: 0;
            width: 393px;
            padding: 23px 34px;
            @include for-desk {
                width: 360px;
                padding: 23px 17px;
            }
            @include for-tablet-landscape {
                width: 315px;
                padding: 10px 10px;
                font-size: 17px;
            }
        }
        .promo__text {
            margin-top: 55px;
            font-size: 28px;
            line-height: 38px;
            @include for-desk {
                max-width: 605px;
            }
            @include for-tablet-landscape {
                margin-top: 40px;
                font-size: 24px;
                line-height: 32px;
            }
        }
        .promo__image {
            max-width: 561px;
            margin-right: 58px;
            @include for-desk {
                margin-right: 0;
            }
        }
    }

    &__wrapper {
        margin-top: 82px;
        display: flex;
        justify-content: space-between;
        @include for-desk {
            gap: 20px;
        }
    }

    &__caption {
    }

    &__title {
        max-width: 759px;
        width: 100%;
        span {
            font-family: $neuemachina;
            background: linear-gradient(90deg, #65F0F4 0%, #3957ED 100%);
        }
    }

    &__subtitle {
        margin-top: 41px;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #000000;
    }
    
    &__text {
        margin-top: 20px;
        max-width: 679px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
    }

    &__btn {
        margin-top: 43px;
        padding: 23px 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, #65F0F4 0%, #3957ED 78%);
        border-radius: 30px;
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
        color: #FFFFFF;
    }

    &__plan {
        height: 66px;
        padding: 15px 25px;
        @include for-tablet-landscape {
            height: 58px;
            padding: 10px 10px;
        }
    }

    &__additional {
    }

    &__image {
        max-width: 406px;
        width: 100%;
        margin-right: 121px;
    }

    &__btns {
        margin-top: 45px;
        display: flex;
        align-items: center;
        gap: 34px;
        @include for-desk {
            gap: 20px;
        }
    }
}

