.promo {
    padding-bottom: 20px;

    &_smm {
        .promo__subtitle {
            margin-top: 57px;
            @include for-tablet-portrait {
                margin-top: 30px;
                font-size: 16px;
                line-height: 21px;
            }
        }
        .promo__title {
            @include for-desk {
                padding-right: 50px;
            }
            
        }
        .promo__btn {
            @include for-tablet-portrait {
                margin-top: 30px;
                padding: 15px 30px;
                font-size: 16px;
            }
        }
    }

    &_context {
        .promo__additional {
            @include for-tablet-portrait {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .promo__title {
            @include for-desk {
                /* max-width: min-content; */
                max-width: fit-content;
                font-size: 46px;
            }
            @include for-tablet-landscape {
                font-size: 4vw;
            }
            @include for-tablet-portrait {
                font-size: clamp(27px, 3vw, 35px);
            }
            span {
                @include for-desk {
                    padding: 0 5px 0 0;
                }
            }
        }
        .promo__subtitle {
            margin-top: 57px;
            max-width: 679px;
            width: 100%;
            font-family: $neuemachina;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 41px;
            color: #000000;
            @include for-tablet-landscape {
                font-size: 30px;
                line-height: 38px;
            }
            @include for-tablet-portrait {
                margin-top: 30px;
                font-size: 22px;
                line-height: 26px;
            }
            @include for-phone-portrait {
                margin-top: 30px;
                font-size: 18px;
                line-height: 20px;
            }
        }
        .promo__image {
            max-width: 529px;
            margin-right: 60px;
            @include for-desk {
                margin-right: 0;
                max-width: 630px;
            }
            @include for-tablet-portrait {
                margin-right: 0;
                max-width: 100%;
            }
        }
        .promo__text {
            margin-top: 18px;
            @include for-tablet-portrait {
                font-size: 16px;
                line-height: 21px;
            }
        }
        .promo__btn {
            @include for-tablet-portrait {
                margin-top: 30px;
                padding: 15px 30px;
                font-size: 16px;
            }
        }
    }

    &_seo {
        .promo__title {
            span {
                @include for-phone {
                    padding: 8px 2px 10px;
                }
            }
        }
        .promo__btn {
            margin-top: 0;
            width: 393px;
            padding: 23px 34px;
            @include for-desk {
                width: 360px;
                padding: 23px 15px;
                font-size: 18px;
            }
            @include for-tablet-landscape {
                width: 280px;
                /* max-height: 56px;
                height: 100%; */
                padding: 0.9vw 8px;
                font-size: 16px;
            }
            @include for-tablet-portrait {
                padding: 10px 15px;
                width: 230px;
                font-size: 16px;
            }
            @include for-phone-portrait {
                width: 266px;
                padding: 19px;
                font-size: 14px;
                line-height: 14px;
            }
        }
        
        .promo__image {
            max-width: 561px;
            margin-right: 58px;
            @include for-desk {
                max-width: 630px;
                margin-right: 0;
            }
            @include for-tablet-portrait {
                max-width: 850px;
            }
        }
        
        .promo__text {
            margin-top: 57px;
            @include for-tablet-portrait {
                margin-top: 30px;
                font-size: 16px;
                line-height: 21px;
            }
        }
        
    }

    &__wrapper {
        margin-top: 212px;
        display: flex;
        justify-content: space-between;
        @include for-desk {
            gap: 20px;
        }
        @include for-tablet-portrait {
            margin-top: 200px;
        }
        @include for-phone-portrait {
            flex-direction: column;
        }
        @include for-phone-portrait {
            gap: 30px;
            margin-top: 90px;
        }
    }

    &__caption {
        @include for-tablet-portrait {
            max-width: 395px;
            width: 100%;
        }
        @include for-phone-portrait {
            max-width: 100%;
        }
    }

    &__title {
        max-width: 759px;
        width: 100%;
        @include for-tablet-landscape {
            font-size: 4vw;
        }
        @include for-tablet-portrait {
            font-size: clamp(27px, 3vw, 35px);
        }
        @include for-phone {
            font-size: 7vw;
            padding-right: 7%;       
        }
        span {
            font-family: $neuemachina;
            display: inline-block;
            padding: 0 2px 2px;
            background: linear-gradient(90deg, #65F0F4 0%, #3957ED 100%);
        }
    }

    &__subtitle {
        margin-top: 41px;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #000000;
        @include for-tablet-landscape {
            font-size: 30px;
            line-height: 38px;
        }
        @include for-tablet-portrait {
            margin-top: 30px;
            font-size: 21px;
            line-height: 27px;
        }
        @include for-phone-portrait {
            margin-top: 30px;
            font-size: 18px;
            line-height: 20px;
        }
    }
    
    &__text {
        margin-top: 20px;
        max-width: 679px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        @include for-desk {
            max-width: 605px;
        }
        @include for-tablet-landscape {
            margin-top: 40px;
            font-size: 24px;
            line-height: 32px;
        }
        @include for-tablet-portrait {
            font-size: 20px;
            line-height: 27px;
        }
        @include for-phone-portrait {
            margin-top: 30px;
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__btn {
        margin-top: 43px;
        padding: 23px 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, #65F0F4 0%, #3957ED 78%);
        border-radius: 30px;
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
        color: #FFFFFF;
        @include for-phone-portrait {
            padding: 18px 45px;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__plan {
        height: 73px;
        width: 276px;
        padding: 15px 25px;
        position: relative;
        color: #000000;
        @include for-tablet-landscape {
            height: 58px;
            padding: 10px 10px;
        }
        @include for-tablet-portrait {
            display: none;
            padding: 6px 10px;
            height: 50px;
            font-size: 13px;
            line-height: 16px;
        }
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
            width: 100%;
            text-align: center;
        }
    }

    &__additional {
    }

    &__image {
        max-width: 406px;
        width: 100%;
        margin-right: 121px;
        @include for-desk {
            margin-right: 0;
        }
        @include for-tablet-landscape {
            margin-right: 0;
        }
        @include for-tablet-portrait {
            max-width: 100%;
        }
    }

    &__btns {
        margin-top: 43px;
        display: flex;
        align-items: center;
        gap: 34px;
        @include for-desk {
            gap: 20px;
        }
        @include for-phone-portrait {
            margin-top: 40px;
            flex-wrap: wrap;
        }
    }
}

