.promo {
    padding-bottom: 20px;


    &_context {
        .promo__subtitle {
            margin-top: 57px;
            max-width: 679px;
            width: 100%;
            font-family: $neuemachina;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 41px;
            color: #000000;
            @include for-tablet-landscape {
                font-size: 33px;
                line-height: 38px;
            }
            @include for-phone-portrait {
                margin-top: 30px;
                font-size: 18px;
                line-height: 20px;
            }
        }
        .promo__image {
            max-width: 529px;
            margin-right: 60px;
            @include for-desk {
                margin-right: 30px;
            }
            @include for-tablet-portrait {
                margin-right: 0;
                max-width: 100%;
            }
        }
        .promo__text {
            margin-top: 18px;
        }
    }

    &_seo {
        .promo__btn {
            margin-top: 0;
            width: 393px;
            padding: 23px 34px;
            @include for-desk {
                width: 360px;
                padding: 23px 17px;
            }
            @include for-tablet-landscape {
                width: 315px;
                padding: 10px 10px;
                font-size: 17px;
            }
            @include for-tablet-portrait {
                width: 250px;
                padding: 9px 9px;
                font-size: 13px;
                line-height: 16px;
            }
            @include for-phone-portrait {
                width: 266px;
                padding: 19px;
                font-size: 14px;
                line-height: 14px;
            }
        }
        
        .promo__image {
            max-width: 561px;
            margin-right: 58px;
            @include for-desk {
                margin-right: 0;
            }
            @include for-tablet-portrait {
                max-width: 100%;
            }
        }
    }

    &__wrapper {
        margin-top: 82px;
        display: flex;
        justify-content: space-between;
        @include for-desk {
            gap: 20px;
        }
        @include for-tablet-portrait {
            margin-top: 60px;
        }
        @include for-phone-portrait {
            flex-direction: column;
        }
        @include for-phone-portrait {
            gap: 30px;
            margin-top: 30px;
        }
    }

    &__caption {
        @include for-tablet-portrait {
            max-width: 395px;
            width: 100%;
        }
        @include for-phone-portrait {
            max-width: 100%;
        }
    }

    &__title {
        max-width: 759px;
        width: 100%;
        @include for-desk {
            font-size: 50px;
            max-width: 554px;
        }
        @include for-tablet-portrait {
            font-size: 38px;
            max-width: 440px;
        }
        @include for-phone {
            font-size: 7vw;
            padding-right: 7%;       
        }
        span {
            font-family: $neuemachina;
            display: inline-block;
            padding: 0 2px 2px;
            background: linear-gradient(90deg, #65F0F4 0%, #3957ED 100%);
        }
    }

    &__subtitle {
        margin-top: 41px;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #000000;
        @include for-tablet-portrait {
            margin-top: 30px;
            font-size: 16px;
            line-height: 22px;
        }
    }
    
    &__text {
        margin-top: 20px;
        max-width: 679px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        @include for-desk {
            max-width: 605px;
        }
        @include for-tablet-landscape {
            margin-top: 40px;
            font-size: 24px;
            line-height: 32px;
        }
        @include for-tablet-portrait {
            font-size: 20px;
            line-height: 27px;
        }
        @include for-phone-portrait {
            margin-top: 30px;
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__btn {
        margin-top: 43px;
        padding: 23px 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, #65F0F4 0%, #3957ED 78%);
        border-radius: 30px;
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
        color: #FFFFFF;
        @include for-phone-portrait {
            padding: 18px 45px;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__plan {
        height: 66px;
        padding: 15px 25px;
        @include for-tablet-landscape {
            height: 58px;
            padding: 10px 10px;
        }
        @include for-tablet-portrait {
            padding: 6px 10px;
            height: 50px;
            font-size: 13px;
            line-height: 16px;
        }
    }

    &__additional {
    }

    &__image {
        max-width: 406px;
        width: 100%;
        margin-right: 121px;
        @include for-desk {
            margin-right: 0;
        }
        @include for-tablet-landscape {
            margin-right: 0;
        }
        @include for-tablet-portrait {
            max-width: 100%;
        }
    }

    &__btns {
        margin-top: 45px;
        display: flex;
        align-items: center;
        gap: 34px;
        @include for-desk {
            gap: 20px;
        }
        @include for-phone-portrait {
            margin-top: 40px;
            flex-wrap: wrap;
        }
    }
}

