.success {
    padding: 0 0 80px 0;
    @include for-tablet-portrait {
        padding: 0 0 60px 0;
    }

    .container {
        @include for-tablet-portrait {
            padding: 0 19px;
        }
    }

    &__about-icon {
        cursor: pointer;
    }

    &__wrapper {
    }

    &__story {
        
        display: grid;
        grid-template-columns: 690px 750px;
        gap: 40px;
        @include for-desk {
            grid-template-columns: 535px 575px;
        }
        @include for-tablet-landscape {
            grid-template-columns: 1fr;
        }
        @include for-tablet-portrait {
            gap: 19px;
        }
    }

    &__info {
    }

    &__info-slider {
    }

    &__info-item {
    }

    &__inner {
    }

    &__info-top {
        @include for-tablet-portrait {
            padding-left: 19px;
        }
    }

    &__positions-wrapper {
        @include for-tablet-portrait {
            padding-left: 19px;
        }
    }

    &__info-title {
        max-width: 590px;
        width: 100%;
        @include for-tablet-portrait {
            padding-left: 19px;
        }
    }

    &__info-text {
        max-width: 678px;
        width: 100%;
        margin-top: 9px;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        color: #000000;
        @include for-desk {
            font-size: 25px;
            line-height: 30px;
        }
        @include for-tablet-landscape {
            font-size: 24px;
            line-height: 32px;
        }
        @include for-tablet-portrait {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__positions-item {
        .success__positions-numbers {
            display: none;
            @include for-tablet-portrait {
                display: block;
            }
        }
    }

    &__info-link {
        display: block;
        margin-top: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #4995CC;
        @include for-tablet-portrait {
            font-size: 14px;
            line-height: 19px;
        }
    }

    &__bottom {
        margin-top: 66px;
        @include for-desk {
            margin-top: 15px;
        }
        @include for-tablet-portrait {
            display: none;
        }
    }

    &__region {
        margin-bottom: 39px;
        @include for-desk {
            margin-bottom: 20px;
        }
    }

    &__region-name {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
        @include for-phone-portrait {
            display: none;
        }
        span {
            font-weight: 700;
        }
    }

    &__results {
        display: grid;
        grid-template-columns: 275px 1fr;
        gap: 35px;
        @include for-desk {
            grid-template-columns: 240px 1fr;
            gap: 30px;
        }
    }

    &__positions {
        @include for-phone-portrait {
            display: none;
        }
    }

    &__positions-title {
        margin-bottom: 11px;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
    }

    &__positions-name {
        font-family: $neuemachina;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        background: linear-gradient(89.97deg, #65F0F4 -17.79%, #3957ED 147.99%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__positions-list {
        list-style-type: none;
        max-width: 251px;
        width: 100%;
    }

    &__positions-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 11px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        /* or 27px */


        color: #000000;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__positions-key {
        max-width: 180px;
        width: 100%;
    }

    &__positions-value {
        font-weight: 700;
    }

    &__positions-numbers {
        display: flex;
        align-items: flex-end;
        @include for-tablet-portrait {
            display: none;
        }
    }

    &__positions-numbers-content {
        display: flex;
        justify-content: space-between;
        gap: 42px;
        @include for-tablet-portrait {
            margin-top: 40px;
            justify-content: flex-start;
        }
    }

    &__positions-number {
    }

    &__positions-text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
        @include for-desk {
            font-size: 16px;
            line-height: 21px;
        }
    }

    &__about {
        max-width: 750px;
        height: 100%;
        @include for-tablet-portrait {
            height: auto;
        }
        padding: 35px 40px 49px 40px;
        background: #FFFFFF;
        box-shadow: -15px 22px 62px -5px rgba(57, 87, 237, 0.1);
        border-radius: 30px;
        @include for-tablet-landscape {
            max-width: 100%;
        }
        @include for-phone-portrait {
            padding: 25px 20px;
        }
    }

    &__about-container {

    }

    &__about-slider {
    }

    &__about-item {
        position: relative;
        img {
            width: 100%;
            @include for-tablet-landscape {
                height: 300px;
                object-fit: cover;
            }
        }
    }

    &__about-link {
        background-image: url('../../assets/svg/icons/lens.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 42px;
        height: 42px;
        position: absolute;
        right: 0;
        bottom: -6px;
        z-index: 100;
        @include for-tablet-portrait {
            width: 25px;
            height: 28px;
        }
        @include for-phone-portrait {
            right: 9px;
        }
    }

    &__about-btn {
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: -55px;
    }

    &__about-controls {
        display: flex;
        justify-content: flex-end;
    }

    &__about-btns {
        margin-top: 35px;
        display: flex;
        gap: 20px;
    }

    &__about-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        background: #FFFFFF;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
        border-radius: 100%;
        cursor: pointer;
        &_left {
        }

        &_right {
        }
    }
    
}
